body {
  font-family: 'Catamaran', sans-serif;
  background-image: url("../images/pattern21.jpg");
  background-size: 100% 100%;
}

#grid {
  background-color: #faf8ef;
  border: 70px solid #776e65;
  border-radius: 20px;
}

.nav-header {
  font-family: 'Catamaran', sans-serif;

  background-color: #faf8ef;
  font-size: 25px;
  color: #776e65;
}

#score-board {
  background-color: #bbada0;
  color: #eee4da;
  font-family: 'Catamaran', sans-serif;

}

#game-over {
  background-color: #bbada0;
  font-family: 'Catamaran', sans-serif;

}

#new-game {
  background-color: #bbada0;
  color: #eee4da;
  font-family: 'Catamaran', sans-serif;

}

#game-over {
  color: #eee4da;
  font-family: 'Catamaran', sans-serif;
  width: 600px;
  height: 600px;
  z-index: 9999;
  background-color: #EDE0C8;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
